<div class="main-sec inner-page">
        <!-- //header -->
        <header class="py-sm-3 pt-3 pb-2" id="home">

            <div class="container">
                <!-- nav -->
                <div class="top-w3pvt d-flex">
                    <div id="logo">
                        <h1> <a routerLink="/home" ><span class="log-w3pvt">C</span>entimet</a> <label class="sub-des">Online Store</label></h1>
                    </div>
            
                    <div class="forms ml-auto">
                        <a href="#" class="btn"><span class="fa fa-sign-in" aria-hidden="true"></span> Sign In</a>
                        <a href="#" class="btn"><span class="fa fa-pencil-square-o"></span> Sign Up</a>
                    </div>
                </div>
                <div class="nav-top-wthree">
                    <nav>
                        <label for="drop" class="toggle"><span class="fa fa-bars"></span></label>
                        <input type="checkbox" id="drop" />
                        <ul class="menu">
                            <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
                            <li><a routerLink="/product" routerLinkActive="active">Product</a></li>
                            <li><a routerLink="/manager" routerLinkActive="active">Manager</a></li>
                        </ul>
                    </nav>
                    <!-- //nav -->
                    <div class="search-form ml-auto">
                        
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>

        </header>
    </div>