    <!-- footer -->
    <div class="footer_agileinfo_topf py-5" style="background-color: #8bb4df;">
        <div class="container py-md-5">
            <div class="row">
                <div class="col-lg-3 footer_wthree_gridf mt-lg-5">
                    <h2><a routerLink="/home" ><span class="log-w3pvt">C</span>emtimet
                        </a> </h2>
                    <label class="sub-des2">Online Store</label>
                    <p>Đẹp từng Centimet</p>
                </div>
                <div class="col-lg-3 footer_wthree_gridf mt-md-0 mt-4">
                    <ul class="footer_wthree_gridf_list">
                        <li>
                            <a routerLink="/home"><span class="fa fa-angle-right" aria-hidden="true"></span> Home</a>
                        </li>
                        <li>
                            <a routerLink="/product"><span class="fa fa-angle-right" aria-hidden="true"></span> Product</a>
                        </li>
                        <li>
                            <a routerLink="/manager"><span class="fa fa-angle-right" aria-hidden="true"></span>Mamager </a>
                        </li>
                        <li>
                            <a routerLink="/add-product"><span class="fa fa-angle-right" aria-hidden="true"></span>Add-Product</a>
                        </li>

                    </ul>
                </div>
                <div class="col-lg-3 footer_wthree_gridf mt-md-0 mt-sm-4 mt-3">
                    <ul class="footer_wthree_gridf_list">
                        <span>Giới thiệu</span>
                            <p>Centimet luôn sẵn sàng cho những chuyến đi “săn” hàng tại Châu Âu, thiên đường của những thương hiệu danh giá để mang về những sản phẩm chất lượng với giá tốt.</p>
                        
                    </ul>
                </div>

                <div class="col-lg-3 footer_wthree_gridf mt-md-0 mt-sm-4 mt-3">
                    <ul class="footer_wthree_gridf_list">
                        <span>Địa Chỉ</span>
                        <li>
                          <p> Cơ sở 1: Yên Thủy- Hòa Bình</p>
                        </li>
                        <li>
                            <p>Cơ sở 2: Nho Quan- Ninh Bình</p>
                        </li>
                        <br>
                         <span>Thông Tin Liên Hệ</span>
                            <p> Đào Thị Thảo - 0334847023</p>
                            <p>Email: thaodtph07855@fpt.edu.vn</p>
                        
                    </ul>
                </div>
            </div>

           
            <div class="move-top text-center mt-lg-4 mt-3">
                <a href="#home"><span class="fa fa-angle-double-up" aria-hidden="true"></span></a>
            </div>
        </div>
    </div>
    <!-- //footer -->