<br>
<table class="table table-hover table-bordered" style="border: 2px solid gray; width:90%; margin-left: 77px; ">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Id </th>
      <th scope="col">Name </th>
      <th scope="col">Desc</th>
      <th scope="col">Price</th>
      <th scope="col">Status</th>
      <th scope="col">Image</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody >
    <tr *ngFor="let product of products">
      <th scope="row">{{product.idproduct}}</th>
      <td>{{product.name}}</td>
      <td>{{product.desc}}</td>
      <td>${{product.price}}</td>
      <td>{{product.status}}</td>
      <td><img [src]="product.img" width="150px"></td>
      <td><button class="btn btn-warning" routerLink="/product/edit/{{product.idproduct}}" >Edit</button></td>
      <td><button class="btn btn-danger" (click)="removeItem(product.idproduct)">Delete</button></td>
    </tr>
  
  </tbody>
</table>