

<table class="table table-hover table-bordered" >
  <thead class="thead-light">
    <tr>
      <th scope="col">Id </th>
      <th scope="col">Name </th>
      
      <th scope="col">Image</th>
      <th scope="col">View</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody >
    <tr *ngFor="let product of products">
      <th scope="row">{{product.idproduct}}</th>
      <td>{{product.name}}</td>
      
      <td><img [src]="product.img" width="150px"></td>
      <td><button class="btn btn-primary" routerLink="/product/{{product.idproduct}}" >view</button></td>
      <td><button class="btn btn-warning" routerLink="/product/edit/{{product.idproduct}}" >Edit</button></td>
      <td><button class="btn btn-danger" (click)="removeItem(product.idproduct)">Delete</button></td>
    </tr>
  
  </tbody>
</table>
