<div class="row">
    <div class="col-lg-4 gallery-content-info text-center mt-lg-5">
        <h3 class="title-wthree mb-lg-5 mb-4">Trending Now </h3>
        <p>Lorem ipsum dolor sit,Nulla pellentesque dolor ipsum laoreet eleifend integer,Pellentesque maximus libero.</p>
        <a href="shop.html" class="btn shop mt-3">Shop Now</a>

    </div>
    <div class="col-lg-8 gallery-content">
        <div class="row">
            <div class="col-md-4 col-sm-6 gal-img">
                <a href="#gal1"><img src="http://placehold.it/220x200" alt="Baggage" class="img-fluid mt-4"></a>
            </div>
            <div class="col-md-4 col-sm-6 gal-img">
                <a href="#gal2"><img src="http://placehold.it/220x200" alt="Baggage" class="img-fluid mt-4"></a>
            </div>
            <div class="col-md-4 col-sm-6 gal-img">
                <a href="#gal3"><img src="http://placehold.it/220x200" alt="Baggage" class="img-fluid mt-4"></a>
            </div>
            <div class="col-md-4 col-sm-6 gal-img">
                <a href="#gal1"><img src="http://placehold.it/220x200" alt="Baggage" class="img-fluid mt-4"></a>
            </div>
            <div class="col-md-4 col-sm-6 gal-img">
                <a href="#gal2"><img src="http://placehold.it/220x200" alt="Baggage" class="img-fluid mt-4"></a>
            </div>
            <div class="col-md-4 col-sm-6 gal-img">
                <a href="#gal3"><img src="http://placehold.it/220x200" alt="Baggage" class="img-fluid mt-4"></a>
            </div>

        </div>
        <!-- gallery popups -->
       
    </div>
    </div>