

    <!-- //banner-->
    <!--/banner-bottom -->
    <section class="banner-bottom py-5">
        <div class="container py-md-3">
            <div class="row grids-wthree-info text-center">
                <div class="col-lg-4 ab-content">
                    <div class="ab-info-con">
                        <h4>Fast & Free Delivery</h4>
                        <p>Lorem ipsum dolor sit,Nulla pellentesque dolor ipsum laoreet eleifend integer,Pellentesque maximus libero.</p>
                    </div>
                </div>
                <div class="col-lg-4 ab-content">
                    <div class="ab-info-con">
                        <h4>Safe & Secure Payments</h4>
                        <p>Lorem ipsum dolor sit,Nulla pellentesque dolor ipsum laoreet eleifend integer,Pellentesque maximus libero.</p>
                    </div>
                </div>
                <div class="col-lg-4 ab-content">
                    <div class="ab-info-con">
                        <h4>100% Money Back Guarantee</h4>
                        <p>Lorem ipsum dolor sit,Nulla pellentesque dolor ipsum laoreet eleifend integer,Pellentesque maximus libero.</p>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- /banner-bottom -->
    <!--/banner-bottom -->
    <section class="collections">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8 ab-content-img">

                </div>
                <div class="col-md-4 ab-content text-center p-lg-5 p-3 my-lg-5">
                    <h4>Travel Must Haves</h4>
                    <p>Lorem ipsum dolor sit,Nulla pellentesque dolor ipsum laoreet eleifend integer,Pellentesque maximus libero.</p>
                    <a href="shop.html" class="btn shop mt-3">Shop Now</a>

                </div>
            </div>
        </div>
    </section>
    <!-- /banner-bottom -->
    <!--/collections -->
    <section class="banner-bottom py-5">
        <div class="container py-md-5">

            <h3 class="title-wthree mb-lg-5 mb-4 text-center">Safety Meets Style </h3>
            <div class="row text-center">


                <div class="col-md-4 content-gd-wthree">
                    <img src="https://neva.vn/upload/img/phoi-do-voi-tui-xach-mau-vang-16.jpg" class="img-fluid" alt="" />
                </div>
                <div class="col-md-4 content-gd-wthree ab-content py-lg-5 my-lg-5">
                    <h4>Need Extra Space ?</h4>
                    <p>Lorem ipsum dolor sit,Nulla pellentesque dolor ipsum laoreet eleifend integer,Pellentesque maximus libero.</p>
                    <a href="shop.html" class="btn shop mt-3">Shop Now</a>

                </div>
                <div class="col-md-4 content-gd-wthree">
                    <img src="https://neva.vn/upload/img/phoi-do-voi-tui-xach-mau-vang-17.jpg" class="img-fluid" alt="" />
                </div>
            </div>

        </div>
    </section>
    <!-- //collections-->
    <!-- /mid-section -->
    <section class="mid-section">
        <div class="d-lg-flex p-0">
            <div class="col-lg-6 bottom-w3pvt-left p-lg-0">
                <img src="https://pmcfootwearnews.files.wordpress.com/2018/02/kaia-gerber-chanel.jpg?w=1024" class="img-fluid" alt="" />
                <div class="pos-wthree">
                    <h4 class="text-wthree">50% Off Any <br> Women's Bags</h4>
                    <a href="shop.html" class="btn shop mt-3">Shop Now</a>
                </div>
            </div>
            <div class="col-lg-6 bottom-w3pvt-left bottom-w3pvt-right p-lg-0">
                <img src="https://2cafe.vn/wp-content/uploads/2019/06/5_shop_tui_xach_nam_hang_hieu_2-min-1.jpg" class="img-fluid" alt="" />
                <div class="pos-w3pvt">
                    <h4 class="text-w3pvt">30% Off Any <br> Men's Bags</h4>
                    <a href="shop.html" class="btn shop mt-3">Shop Now</a>
                </div>
            </div>
        </div>
    </section>
    <!-- //mid-section -->

    <!--/gallery -->
    <section class="banner-bottom py-5">
        <div class="container py-md-5">
           <div class="row">
                <div class="col-lg-4 gallery-content-info text-center mt-lg-5">
                    <h3 class="title-wthree mb-lg-5 mb-4">Trending Now </h3>
                    <p>Lorem ipsum dolor sit,Nulla pellentesque dolor ipsum laoreet eleifend integer,Pellentesque maximus libero.</p>
                    <a href="shop.html" class="btn shop mt-3">Shop Now</a>

                </div>
                <div class="col-lg-8 gallery-content">
                    <div class="row">
                        <div class="col-md-4 col-sm-6 gal-img">
                            <a href="#gal1"><img src="https://p.ipricegroup.com/e1c78f9b8872bfec1a9c76bd0c78ee55b72b8b59_0.jpg" alt="Baggage" class="img-fluid mt-4"></a>
                        </div>
                        <div class="col-md-4 col-sm-6 gal-img">
                            <a href="#gal2"><img src="https://p.ipricegroup.com/aa99c3b925708caf122ba25a21a2a7a9383eb238_0.jpg" alt="Baggage" class="img-fluid mt-4"></a>
                        </div>
                        <div class="col-md-4 col-sm-6 gal-img">
                            <a href="#gal3"><img src="https://p.ipricegroup.com/595ab793d726395d30f735107a43cba374a951d8_0.jpg" alt="Baggage" class="img-fluid mt-4"></a>
                        </div>
                        <div class="col-md-4 col-sm-6 gal-img">
                            <a href="#gal1"><img src="https://p.ipricegroup.com/f34901cb6e997b0902cc8c90a49364a33cef1c7b_0.jpg" alt="Baggage" class="img-fluid mt-4"></a>
                        </div>
                        <div class="col-md-4 col-sm-6 gal-img">
                            <a href="#gal2"><img src="https://p.ipricegroup.com/265f0b3500ad17aae564836e88baad65ee4d84ca_0.jpg" alt="Baggage" class="img-fluid mt-4"></a>
                        </div>
                        <div class="col-md-4 col-sm-6 gal-img">
                            <a href="#gal3"><img src="https://p.ipricegroup.com/f7c76b98e7c9989b3f1ff03759ad22ecede05b42_0.jpg" alt="Baggage" class="img-fluid mt-4"></a>
                        </div>

                    </div>
                    <!-- gallery popups -->
                   
                </div>
            </div>

        </div>
    </section>
    <!-- //gallery-->





<!-- <div class="container py-md-5" style="padding-top: 0px">
<div class="row">
    <div class="col-lg-4 gallery-content-info text-center mt-lg-5">
        <h3 class="title-wthree mb-lg-5 mb-4">Some Sample Bags</h3>
        <p>Không chỉ được thoả mãn mong muốn sở hữu những món phụ kiện sành điệu, chính hãng, đến với Centimet, quý khách sẽ được cập nhật thông tin về những collection mới nhất, order những sản phẩm hot hay thậm chí là những mẫu khó kiếm nhất.</p>
        <a routerLink="/product" class="btn shop mt-3">Shop Now</a>

    </div>
    <div class="col-lg-8 gallery-content">
        <div class="row">
            <div class="col-md-4 col-sm-6 gal-img">
                <a routerLink="/product"><img src="https://encrypted-tbn2.gstatic.com/shopping?q=tbn:ANd9GcTHhKV29NEswHgExDp7-99GCOISTKA182_sO-6_wYRelJ7Hd7PQx2XCsWcYTl1yuh4eBmZ113c_ho6ZZaU3ibOO8n5mgfa7KUt2pgPJheq_Sc6BhN9ciiKjow&usqp=CAE" alt="Baggage" class="img-fluid mt-4"></a>
            </div>
            <div class="col-md-4 col-sm-6 gal-img">
                <a routerLink="/product"><img src="https://centimet.vn/wp-content/uploads/1-123-600x800.jpg" alt="Baggage" class="img-fluid mt-4"></a>
            </div>
            <div class="col-md-4 col-sm-6 gal-img">
                <a routerLink="/product"><img src="https://centimet.vn/wp-content/uploads/14-9-600x800.jpg" alt="Baggage" class="img-fluid mt-4"></a>
            </div>
            <div class="col-md-4 col-sm-6 gal-img">
                <a routerLink="/product"><img src="https://centimet.vn/wp-content/uploads/1-221-200x200.jpg" alt="Baggage" class="img-fluid mt-4"></a>
            </div>
            <div class="col-md-4 col-sm-6 gal-img">
                <a routerLink="/product"><img src="https://centimet.vn/wp-content/uploads/121-2.jpg" alt="Baggage" class="img-fluid mt-4"></a>
            </div>
            <div class="col-md-4 col-sm-6 gal-img">
                <a routerLink="/product"><img src="https://centimet.vn/wp-content/uploads/1d-2-600x800.jpg" alt="Baggage" class="img-fluid mt-4"></a>
            </div>

        </div>
        <!-- gallery popups -->
       
    <!-- </div>
    </div>
</div> --> -->