<div class="container py-5">
    <h3 class="title-wthree mb-lg-5 mb-4 text-center">Shop Now</h3>
    <!--/row-->
    <div class="row shop-wthree-info text-center">



        <div class="col-lg-3 shop-info-grid text-center mt-4">
            <div class="product-shoe-info shoe">
                <div class="men-thumb-item">
                    <img src="http://placehold.it/191x191" class="img-fluid" alt="">

                </div>
                <div class="item-info-product">
                    <h4>
                        <a href="single.html">Messenger Bag </a>
                    </h4>

                    <div class="product_price">
                        <div class="grid-price">
                            <span class="money"><span class="line">$799</span> $675.00</span>
                        </div>
                    </div>
                  
                </div>
            </div>
        </div>
        
        <div class="col-lg-3 shop-info-grid text-center mt-4">
            <div class="product-shoe-info shoe">
                <div class="men-thumb-item">
                    <img src="http://placehold.it/191x191" class="img-fluid" alt="">

                </div>
                <div class="item-info-product">
                    <h4>
                        <a href="single.html">Shoulder Bag (Pink) </a>
                    </h4>

                    <div class="product_price">
                        <div class="grid-price">
                            <span class="money"><span class="line">$799</span> $675.00</span>
                        </div>
                    </div>
                  
                </div>
            </div>
        </div>
        <div class="col-lg-3 shop-info-grid text-center mt-4">
            <div class="product-shoe-info shoe">
                <div class="men-thumb-item">
                    <img src="http://placehold.it/191x191" class="img-fluid" alt="">

                </div>
                <div class="item-info-product">
                    <h4>
                        <a href="single.html">Sling Bag </a>
                    </h4>

                    <div class="product_price">
                        <div class="grid-price">
                            <span class="money"><span class="line">$599</span> $475.00</span>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="col-lg-3 shop-info-grid text-center mt-4">
            <div class="product-shoe-info shoe">
                <div class="men-thumb-item">
                    <img src="http://placehold.it/191x191" class="img-fluid" alt="">

                </div>
                <div class="item-info-product">
                    <h4>
                        <a href="single.html">Tote (Blue) </a>
                    </h4>

                    <div class="product_price">
                        <div class="grid-price">
                            <span class="money"><span class="line">$799</span> $675.00</span>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>

    </div>
    <!--//row-->
    <!--/row1-->
    <div class="row shop-wthree-info text-center">
        <div class="col-lg-3 shop-info-grid text-center mt-4">
            <div class="product-shoe-info shoe">
                <div class="men-thumb-item">
                    <img src="http://placehold.it/191x191" class="img-fluid" alt="">

                </div>
                <div class="item-info-product">
                    <h4>
                        <a href="single.html">Satchel (Yellow) </a>
                    </h4>

                    <div class="product_price">
                        <div class="grid-price">
                            <span class="money"><span class="line">$999</span> $875.00</span>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="col-lg-3 shop-info-grid text-center mt-4">
            <div class="product-shoe-info shoe">
                <div class="men-thumb-item">
                    <img src="http://placehold.it/191x191" class="img-fluid" alt="">

                </div>
                <div class="item-info-product">
                    <h4>
                        <a href="single.html">Shoulder Bag (Orange)</a>
                    </h4>

                    <div class="product_price">
                        <div class="grid-price">
                            <span class="money"><span class="line">$799</span> $675.00</span>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="col-lg-3 shop-info-grid text-center mt-4">
            <div class="product-shoe-info shoe">
                <div class="men-thumb-item">
                    <img src="http://placehold.it/191x191" class="img-fluid" alt="">

                </div>
                <div class="item-info-product">
                    <h4>
                        <a href="single.html">Hobo (Blue) </a>
                    </h4>

                    <div class="product_price">
                        <div class="grid-price">
                            <span class="money"><span class="line">$799</span> $675.00</span>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="col-lg-3 shop-info-grid text-center mt-4">
            <div class="product-shoe-info shoe">
                <div class="men-thumb-item">
                    <img src="http://placehold.it/191x191" class="img-fluid" alt="">

                </div>
                <div class="item-info-product">
                    <h4>
                        <a href="single.html">Satchel (Pink)</a>
                    </h4>

                    <div class="product_price">
                        <div class="grid-price">
                            <span class="money"><span class="line">$599</span> $475.00</span>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>


    </div>

    <!--//row1-->
    <!--/row-->
    <div class="row shop-wthree-info text-center mb-5">
        <div class="col-lg-3 shop-info-grid text-center mt-4">
            <div class="product-shoe-info shoe">
                <div class="men-thumb-item">
                    <img src="http://placehold.it/191x191" class="img-fluid" alt="">

                </div>
                <div class="item-info-product">
                    <h4>
                        <a href="single.html">Sling Bag </a>
                    </h4>

                    <div class="product_price">
                        <div class="grid-price">
                            <span class="money"><span class="line">$599</span> $475.00</span>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="col-lg-3 shop-info-grid text-center mt-4">
            <div class="product-shoe-info shoe">
                <div class="men-thumb-item">
                    <img src="http://placehold.it/191x191" class="img-fluid" alt="">

                </div>
                <div class="item-info-product">
                    <h4>
                        <a href="single.html">Tote (Blue) </a>
                    </h4>

                    <div class="product_price">
                        <div class="grid-price">
                            <span class="money"><span class="line">$799</span> $675.00</span>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>


        <div class="col-lg-3 shop-info-grid text-center mt-4">
            <div class="product-shoe-info shoe">
                <div class="men-thumb-item">
                    <img src="http://placehold.it/191x191" class="img-fluid" alt="">

                </div>
                <div class="item-info-product">
                    <h4>
                        <a href="single.html">Messenger Bag </a>
                    </h4>

                    <div class="product_price">
                        <div class="grid-price">
                            <span class="money"><span class="line">$799</span> $675.00</span>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="col-lg-3 shop-info-grid text-center mt-4">
            <div class="product-shoe-info shoe">
                <div class="men-thumb-item">
                    <img src="http://placehold.it/191x191" class="img-fluid" alt="">

                </div>
                <div class="item-info-product">
                    <h4>
                        <a href="single.html">Shoulder Bag (Pink) </a>
                    </h4>

                    <div class="product_price">
                        <div class="grid-price">
                            <span class="money"><span class="line">$799</span> $675.00</span>
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>

        <!--//row-->
    </div>
</div>