/*--
	Author:W3layouts
	Author URL: http://w3layouts.com
	License: Creative Commons Attribution 3.0 Unported
	License URL: http://creativecommons.org/licenses/by/3.0/
--*/

html,
body {
    margin: 0;
    font-size: 100%;
    background: #fff;
    font-family: 'Hind', sans-serif;
    scroll-behavior: smooth;
}

body a {
    text-decoration: none;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

a:hover {
    text-decoration: none;
}

input[type="button"],
input[type="submit"],
input[type="text"],
input[type="email"],
input[type="search"] {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    font-family: 'Hind', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    letter-spacing: 1px;
    font-family: 'Hind', sans-serif;
}

p {
    font-size: 0.9em;
    color: #777;
    line-height: 1.9em;
    letter-spacing: 1px;
    margin-bottom: 0;
}

ul {
    margin: 0;
    padding: 0;
}


.breadcrumb,
ol {
    margin-bottom: 0 !important;
}

/* header */
/*-- header --*/
.forms {
    margin-top: 1.4em;
}

.top-w3pvt {
    border-bottom: 1px solid #8bb4df;
    padding-bottom: 0.5em;
}

.nav-top-wthree {
    margin: 1em 0;
}

header a.btn {
    border-radius: 4px;
    color: #4d6171;
    letter-spacing: 1px;
    border: none;
    outline: none;
}

header a.btn span {
    color: #fff;
}

.search-form {
    width: 30%;
}

form.newsletter {
    background: #fff;
    padding: 0.3em;
    display: flex;
}

header .search {
    outline: none;
    padding: 6px 20px;
    font-size: 14px;
    color: #000;
    width: 85%;
    background: transparent;
    text-transform: capitalize;
    border: none;
    letter-spacing: 2px;
    float: left;
}

header button.btn {
    color: #fff;
    border: none;
    padding: 7px 0px;
    text-transform: uppercase;
    text-decoration: none;
    background: transparent;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
    float: right;
    cursor: pointer;
    width: 15%;
    font-size: 14px;
    text-align: center;
    background: #ec1c24;
}

.toggle,
[id^=drop] {
    display: none;
}

/* Giving a background-color to the nav container. */
nav {
    margin: 0;
    padding: 0;
    margin-top: 10px;
    float: left;
}


#logo a {
    float: left;
    font-size: .8em;
    display: initial;
    margin: 0;
    letter-spacing: 0px;
    color: #333;
    font-weight: 300;
    padding: 3px 0;
    border: none;
}

#logo a span {
    color: #fff;
    font-size: 1.4em;
    font-weight: 700;
    text-shadow: 3px 1px 3px rgba(19, 18, 18, 0.19);
}

.sub-des {
    text-transform: uppercase;
    display: block;
    font-size: 0.3em;
    margin: 0;
    color: #5b7a9a;
    letter-spacing: 4px;
    font-weight: 600;
    text-shadow: 3px 1px 3px rgba(78, 73, 73, 0.21);
}

/* Since we'll have the "ul li" "float:left"
 * we need to add a clear after the container. */

nav:after {
    content: "";
    display: table;
    clear: both;
}

/* Removing padding, margin and "list-style" from the "ul",
 * and adding "position:reltive" */
nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
}

/* Positioning the navigation items inline */
nav ul li {
    margin: 0px;
    display: inline-block;
}

.main-sec.inner-page {
    background: #74d2e7;
    min-height: 10em;
    position: relative;
}
.nav-top-wthree {
    margin: 1em 0;
}
nav a {
    letter-spacing: 2px;
    padding-left: 0;
    padding-right: 0;
    padding: 10px 0;
    font-weight: 400;
    font-size: 0.9em;
    margin: 0 1em;
    color: #515152;
    text-transform: uppercase;
}
nav ul li {
    margin: 0px;
    display: inline-block;
}.carousel-item {
  height: 65vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.portfolio-item {
  margin-bottom: 30px;
}
.title-wthree, .title-wthree.two {
    font-size: 2.5em;
    text-transform: uppercase;
    color: #333;
    margin-bottom: 0.7em;
    font-weight: 600;
}
.btn.shop {
    background: #ec1c24;
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    color: #fff;
    padding: 0.6em 2.5em;
    text-transform: uppercase;
    font-size: 0.9em;
    letter-spacing: 2px;
    font-weight: 600;
    -moz-box-shadow: 1px 3px 8px 0 rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 1px 3px 8px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 1px 3px 8px 0 rgba(0, 0, 0, 0.15);
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    letter-spacing: 1px;
    font-family: 'Hind', sans-serif;
}
.footer_wthree_gridf h2 a {
    display: inline-block;
    font-weight: 300;
    font-size: 1em;
    letter-spacing: 1px;
    color: #333;
    text-shadow: 2px 5px 3px rgba(0, 0, 0, 0.06);
    padding: 0;
}
.sub-des2 {
    text-transform: uppercase;
    display: block;
    font-size: 0.7em;
    margin: 0;
    color: #999;
    letter-spacing: 7px;
    font-weight: 600;
    text-shadow: 3px 1px 3px rgba(78, 73, 73, 0.21);
}
ul {
    margin: 0;
    padding: 0;
}
.footer_wthree_gridf_list li a {
    color: #555;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.75em;
    display: block;
    font-weight: 600;
    margin: 1.8em 0;
}
.product-shoe-info {
    background: #f7f7f7;
    padding: 1em;
}
.men-thumb-item {
    padding: 1em;
}.img-fluid {
    max-width: 100%;
    height: 250px;
}
.item-info-product h4 a {
    color: #080808;
    font-size: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 700;
}
.item-info-product {
    padding: 1em 0 1em 0;
}
.product_price {
    margin: 1em 0 0 0;
    padding: 1em 0 0 0;
    border-top: 1px solid #ddd;
}
span.money {
    font-size: 1em;
    font-weight: 800;
    color: #ff4c4c;
    letter-spacing: 2px;
}
span.line {
    text-decoration: line-through;
    color: #999;
    font-weight: 300;
}